<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/static/logo.png">
  {% block css %}

  <style>
    body {
      background-image: url("https://i.pinimg.com/736x/ef/0f/7f/ef0f7f0e305249901dce2ed34605d332.jpg");
      color: #1a0232;
    }

    .container {
      margin-top: 100px;
      text-align: center;
      height: 40vw;
    }

    .footer {
      background-color: #1a0232;
      padding: 20px;
      text-align: center;
      color: white;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  </style>
  
  {% endblock %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<title>Tech Fest</title>
</head>

<body>
  {% block navbar %}
    {% include 'navbar.html' %}
  {% endblock %}
  <div class="container">
    {% block content %}
    <div class="container">
      <h1>NGOs 2024</h1>
      <p>Welcome to the biggest NGOs Platform in India!</p>
      <p>
        Join us for a week of fun, learning, and networking with fellow NGOs. We have a great lineup of speakers and
      </p>
    </div>
    {% endblock %}
  </div>
  {% block footer %}
  <div class="footer">
    <p>© 2024 NGO Solver. All rights reserved.</p>
  </div>
  {% endblock %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
    {% block script %}
    {% endblock %}
    <script>
      {% if message %}
      alert("{{ message }}");
      {% endif %}
    </script>
</body>

</html>

<!-- <img src="/static/image.jpeg" alt="An image" /> -->